.section-know {
  @include sectionParam($bg-color-primary-0);

  .wrp {
    @include sectionWidth(4.0625em, 1em, 4.0625em, 1em);

    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;

    .title {
      @include sectionTitle;
    }

    .know-listitem {
      display: flex;
      flex: 1 1;
      flex-flow: row wrap;
      margin: 1.5em 0;

      .know-item {
        width: calc(95% / 4);
        display: flex;
        flex-shrink: 1;
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0.75em;
        background-color: white;
        margin: 5px 2.5px 0;
        box-shadow: 0 0 5px 1px #f9f9f9;

        .know-item-title {
          width: 100%;
          flex-shrink: 1;
          flex-grow: 1;
          @include fontRG;
          // font-size: 0.85em;
          text-align: center;
        }
        .know-item-text {
          @include fontLT;
          // font-size: 0.65em;
        }
      }
    }
  }
}
