@media (max-width: 576px) {
  .countdown-number {
    width: 50px;
    margin: 0 5px;
  }

  .countdown-time {
    padding: 15px;
    margin-bottom: -64px;
    font-size: 0.85em;
  }

  .countdown-text {
    font-size: 0.5em;
  }

  .header {
    & .top {
      & .wrp {
        & .top-logo,
        & .top-button {
          display: none;
        }
      }
    }
    & .head {
      & .nav {
        display: none;
      }

      & .head-text {
        & .wrp {
          & span:nth-child(1) {
            font-size: 0.5em;
          }

          & span:nth-child(2) {
            font-size: 1em;
          }

          & span:nth-child(3) {
            font-size: calc((#{$pageWidthSm}/ 36) / 2);
          }
        }
      }
    }
  }

  .section-advantages {
    & .listItems {
      flex-wrap: wap;

      & .item {
        width: 100%;
        min-height: 100px;
        margin: 0.5em 0;
        padding: 0 3em;
      }
    }
  }
  .section-format .wrp .format-listitems .format-listitems-item {
    width: 100%;
  }

  .section-prices .listCards {
    flex-wrap: wrap;

    & .card {
      width: 100%;
      flex-basis: 100%;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #hide.show {
    width: 100%;
    padding: 50px;
  }

  .header {
    & .top {
      & .wrp {
        & .top-logo {
          display: none;
        }
        & .top-button {
          display: block;
        }
      }
    }
    & .head {
      & .wrp {
        padding: 1em;
      }
      & .nav {
        display: none;
      }

      & .head-text {
        &:before {
          content: none;
        }
        & .wrp {
          margin: 0;
          & span:nth-child(1) {
            font-size: 0.5em;
          }

          & span:nth-child(2) {
            font-size: 1em;
          }

          & span:nth-child(3) {
            font-size: calc((#{$pageWidthM}/ 48) * 1.25);
          }
        }
      }

      & .imgBg {
        display: none;
      }
    }
  }

  .section-advantages {
    & .listItems {
      flex-wrap: wap;

      & .item {
        width: 100%;
        min-height: 100px;
        margin: 0;
      }
    }
  }

  .section-format .wrp .format-listitems .format-listitems-item {
    width: 100%;
  }

  .section-prices .listCards {
    flex-wrap: wrap;

    & .card {
      width: 100%;
      flex-basis: 100%;
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1400px) {
}

@media (min-width: 1400px) {
  .header .wrp {
    // width: 1170px;
    // margin: 0 auto;
  }

  // .header .head .imgBg {
  //   background: url(../img/html.png) no-repeat center;
  //   background-size: cover;
  //   position: absolute;
  //   right: 30px;
  //   top: 150px;
  //   width: 675px;
  //   height: 470px;
  // }

  // .header .head .head-text {
  //   margin: 50px 0 0 0;
  // }
}
