@media screen and (min-width: 368px) and (max-width:1168px) {

  .section-advantages {
    
    & .wrp .listItems {
      flex-direction: column;
      flex-wrap: nowap;

      & .item {
        width: 100%;
        min-height: 100px;
      }
    }
  }

  .section-prices .listCards {
    flex-direction: column;
    flex-basis: auto;

   & .card {
min-height: max-content;
flex-basis: content;
margin-bottom: 20px;
    }
  }
}

@media (min-width: 1920px) {
.header .wrp {
  width: 1768px;
    // margin: 0 auto;
}

  // .header .head .imgBg {
  //   background: url(../img/html.png) no-repeat center;
  //   background-size: cover;
  //   position: absolute;
  //   right: 30px;
  //   top: 150px;
  //   width: 675px;
  //   height: 470px;
  // }

  .header .head .head-text {
    margin: 50px 0 0 0;
  }
}