@mixin sectionWidth($top: 1em, $right: 1em, $buttom:1em, $left: 1em) {
  width: 1200px;
  margin: 0 auto;
  padding: $top $right $buttom $left;
  box-sizing: border-box;
}

@mixin fontRG {
  font-family: 'Proxima Nova Cn Rg', 'sans-serif';
  font-weight: normal;
  font-style: normal;
}

@mixin fontBD {
  font-family: 'Proxima Nova Cn Rg';
	font-weight: bold;
	font-style: normal;
}

@mixin fontLT {
  font-family: 'Proxima Nova Cn Lt';
	font-weight: 300;
	font-style: normal;
}

@mixin h2 {
  @include fontBD;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $color-secondary-a-3;
}

@mixin h3 {
  font-size: 0.85em;
        @include fontRG();
      color: #000;
}

@mixin sectionTitle {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 0 0 0;
    text-align: center;
    @include h2;
}

@mixin sectionParam($bgc: #fff) {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  color: #000;
  background-color: $bgc;
}

@function em-calc($size, $font-size : 16px) {
    $font-size: $font-size + 0px;
    $remSize: $size / $font-size;
    @return #{$remSize}em;
}


