/* Таблицы стилей Sass */
/* Адрес цветовой схемы: https://colorscheme.ru/#0.b1Zw0w05iCh */


/* HEX коды */

$color-primary-0: #ff9900;	/* Основной Цвет */
$color-primary-1: #ff9900;
$color-primary-2: #ff6600;
$color-primary-3: #ff9966;
$color-primary-4: #ffcc99;

$color-secondary-a-0: #003399;	/* Вторичный Цвет A */
$color-secondary-a-1: #333399;
$color-secondary-a-2: #003399;
$color-secondary-a-3: #6666cc;
$color-secondary-a-4: #9999cc;

$color-secondary-b-0: #00cc00;	/* Вторичный Цвет B */
$color-secondary-b-1: #00cc00;
$color-secondary-b-2: #00cc00;
$color-secondary-b-3: #33ff33;
$color-secondary-b-4: #99ff99;

$bg-color-primary-0: #f7f7f7;
$bg-color-primary-1: #fdfdfd;
$bg-color-primary-2: #3c3c3c;

$pageWidthSm: 576px;
$pageWidthM: 768px;